[submodule "vendors/galleria"]
	path = vendors/galleria
	url = https://github.com/aino/galleria
	ignore = untracked
[submodule "vendors/bootstrap"]
	path = vendors/bootstrap
	url = https://github.com/twitter/bootstrap
	ignore = untracked
[submodule "vendors/Wookmark-jQuery"]
	path = vendors/Wookmark-jQuery
	url = https://github.com/GBKS/Wookmark-jQuery
	ignore = untracked
[submodule "vendors/jquery-tagit"]
	path = vendors/jquery-tagit
	url = https://github.com/richardpoole/jquery-tagit.git
	ignore = untracked
