{% extends "gallery/base.html" %}
{% load staticfiles %}

{% block page_title %}{% if photo.title %}{{ photo.title }} - {% endif %}{% endblock %}{{ AURORA_SITE_NAME }}

{% block content %}
<div class="row-fluid">
    <div class="span12">
      {% if photo.title %}<h2 class="photo_title">{{ photo.title }}</h2>{% endif %}
      <p class="photo">
          <a href="{{ AURORA_MEDIA_PUB_URL }}{{ photo.hush }}.{{ photo.extension }}{{ AURORA_POSTFIX_GALLERY_DISPLAY }}">
              <img src="{{ AURORA_MEDIA_PUB_URL }}{{ photo.hush }}.{{ photo.extension }}{{ AURORA_POSTFIX_GALLERY_DISPLAY }}"></img>
          </a>
      </p>
      {% if photo.description %}<p>{{ photo.description }}</p>{% endif %}
      {% if photo.tags.all|length %}
      <div class="btn-group" id="tags">
          {% for tag in photo.tags.all %}
              <button class="btn">{{ tag.title }}</button>
          {% endfor %}
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}

